DominoClient/DominoClient/Connected Services/DominoesService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Dominoes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDominoes_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DominoServer" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Windows" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDominoes_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IDominoes_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IDominoes_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IDominoes_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IDominoes_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IDominoes_GetReminderText_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReminderText" />
  </wsdl:message>
  <wsdl:message name="IDominoes_GetReminderText_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReminderTextResponse" />
  </wsdl:message>
  <wsdl:message name="IDominoes_UpdatePlayerInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerInfo" />
  </wsdl:message>
  <wsdl:message name="IDominoes_CanJoinGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CanJoinGame" />
  </wsdl:message>
  <wsdl:message name="IDominoes_GetBone_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBone" />
  </wsdl:message>
  <wsdl:message name="IDominoes_MakeMove_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeMove" />
  </wsdl:message>
  <wsdl:message name="IDominoes_SkipMove_InputMessage">
    <wsdl:part name="parameters" element="tns:SkipMove" />
  </wsdl:message>
  <wsdl:message name="IDominoes_SetPlayerNumber_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SetPlayerNumber" />
  </wsdl:message>
  <wsdl:message name="IDominoes_UpdateGameInfo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateGameInfo" />
  </wsdl:message>
  <wsdl:message name="IDominoes_OpponentExit_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OpponentExit" />
  </wsdl:message>
  <wsdl:message name="IDominoes_GameOver_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GameOver" />
  </wsdl:message>
  <wsdl:portType name="IDominoes">
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IDominoes/Registration" message="tns:IDominoes_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDominoes/RegistrationResponse" message="tns:IDominoes_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IDominoes/Login" message="tns:IDominoes_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDominoes/LoginResponse" message="tns:IDominoes_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IDominoes/Logout" message="tns:IDominoes_Logout_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReminderText">
      <wsdl:input wsaw:Action="http://tempuri.org/IDominoes/GetReminderText" message="tns:IDominoes_GetReminderText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDominoes/GetReminderTextResponse" message="tns:IDominoes_GetReminderText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDominoes/UpdatePlayerInfo" message="tns:IDominoes_UpdatePlayerInfo_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanJoinGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IDominoes/CanJoinGame" message="tns:IDominoes_CanJoinGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBone">
      <wsdl:input wsaw:Action="http://tempuri.org/IDominoes/GetBone" message="tns:IDominoes_GetBone_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeMove">
      <wsdl:input wsaw:Action="http://tempuri.org/IDominoes/MakeMove" message="tns:IDominoes_MakeMove_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SkipMove">
      <wsdl:input wsaw:Action="http://tempuri.org/IDominoes/SkipMove" message="tns:IDominoes_SkipMove_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPlayerNumber">
      <wsdl:output wsaw:Action="http://tempuri.org/IDominoes/SetPlayerNumber" message="tns:IDominoes_SetPlayerNumber_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGameInfo">
      <wsdl:output wsaw:Action="http://tempuri.org/IDominoes/UpdateGameInfo" message="tns:IDominoes_UpdateGameInfo_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpponentExit">
      <wsdl:output wsaw:Action="http://tempuri.org/IDominoes/OpponentExit" message="tns:IDominoes_OpponentExit_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GameOver">
      <wsdl:output wsaw:Action="http://tempuri.org/IDominoes/GameOver" message="tns:IDominoes_GameOver_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDominoes" type="tns:IDominoes">
    <wsp:PolicyReference URI="#NetTcpBinding_IDominoes_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Registration">
      <soap12:operation soapAction="http://tempuri.org/IDominoes/Registration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IDominoes/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/IDominoes/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetReminderText">
      <soap12:operation soapAction="http://tempuri.org/IDominoes/GetReminderText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerInfo">
      <soap12:operation soapAction="http://tempuri.org/IDominoes/UpdatePlayerInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CanJoinGame">
      <soap12:operation soapAction="http://tempuri.org/IDominoes/CanJoinGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetBone">
      <soap12:operation soapAction="http://tempuri.org/IDominoes/GetBone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="MakeMove">
      <soap12:operation soapAction="http://tempuri.org/IDominoes/MakeMove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SkipMove">
      <soap12:operation soapAction="http://tempuri.org/IDominoes/SkipMove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SetPlayerNumber">
      <soap12:operation soapAction="http://tempuri.org/IDominoes/SetPlayerNumber" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGameInfo">
      <soap12:operation soapAction="http://tempuri.org/IDominoes/UpdateGameInfo" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpponentExit">
      <soap12:operation soapAction="http://tempuri.org/IDominoes/OpponentExit" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameOver">
      <soap12:operation soapAction="http://tempuri.org/IDominoes/GameOver" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Dominoes">
    <wsdl:port name="NetTcpBinding_IDominoes" binding="tns:NetTcpBinding_IDominoes">
      <soap12:address location="net.tcp://localhost:7557/Dominoes" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:7557/Dominoes</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>YURKOV\vladi</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>