DominoClient/DominoClient/Connected Services/DominoesService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DominoServer" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Windows" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Registration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reminderText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DominoServer" minOccurs="0" name="p" nillable="true" type="q1:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isInGame" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReminderText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReminderTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReminderTextResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DominoServer" minOccurs="0" name="player" nillable="true" type="q2:Player" />
        <xs:element minOccurs="0" name="score" type="xs:int" />
        <xs:element minOccurs="0" name="isWin" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanJoinGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="pNumber" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Windows" minOccurs="0" name="p" type="q3:Point" />
        <xs:element minOccurs="0" name="angle" type="xs:double" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DominoServer" minOccurs="0" name="pos" type="q4:Position" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DominoServer" minOccurs="0" name="tv" type="q5:TableValues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkipMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPlayerNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currTurn" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DominoServer" minOccurs="0" name="players" nillable="true" type="q6:ArrayOfArrayOfBone" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DominoServer" minOccurs="0" name="table" nillable="true" type="q7:ArrayOfBone" />
        <xs:element minOccurs="0" name="deck" type="xs:int" />
        <xs:element minOccurs="0" name="game" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="scores" nillable="true" type="q8:ArrayOfint" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DominoServer" minOccurs="0" name="tv" type="q9:TableValues" />
        <xs:element minOccurs="0" name="changeMove" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpponentExit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GameOver">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pNumber" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="scores" nillable="true" type="q10:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>